* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: tommy;
  font-weight: 800;
  src: url(./Tommy\ outline.otf);
}

@font-face {
  font-family: poland;
  font-weight: 800;
  src: url(./Poland.otf);
}

body {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  overflow: hidden;
  /* margin: 0; */
  /* background-image: url("./img/black-texture-with-purple-neon-lines-black-abstract-background-purple-neon-lines-3d-black-background-3d-polygons-texture.jpg"); */

  background: linear-gradient(84deg, #c6d7dd, #f7edd4, #f1dbf8);
  background-size: 400% 400%;
  /* filter: blur(2rem);
    animation: animateBackground2 10s ease infinite;
    /* opacity: 0.4; */
  /* transition: 0.5s; */
  /* scale: 0.9; */
  background-color: #525252;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* backdrop-filter: blur(3rem); */
}

@keyframes animateBackground2 {
  0% {
    background-position: 0% 67%;
  }
  50% {
    background-position: 100% 34%;
    /* transform: translateY(30px); */
  }
  100% {
    background-position: 0% 67%;
  }
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
}
/* border-radius: 50px; */
/* margin: 0; */
/* width: 80%;
  height: 80%; */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  width: 70%;
  justify-content: center;
}

.grid > div {
  padding: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*CARD 1*/
.elemento__1 {
  height: 180px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  /* perspective: 800px; */
  border-radius: 0px;
  overflow: hidden;
  /* background-color: linear-gradient(#7a492a, black); */
  /* background: linear-gradient(to right, #371906, #a6673f); */
  background-color: rgb(255, 246, 222);
  transition: 0.3s;
  position: relative;
  /* border: 0.5px solid #000000; */
  animation: izq-der 1s ease-in-out;
  /* box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.173); */
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179);
  opacity: 0.9;
}

.link__sobremi {
  /* position: absolute;
    max-width: fit-content;
    bottom: 0%;
    left: 80%;
    background-color: #9d00ff;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 0px;
    font-size: 16px;
    z-index: 1;
    transition: 0.3s, background-color 0.3s ease, color 0.3s ease; */
  animation: aba-arr 3s ease-in-out;
  position: absolute;
  margin: auto;
  /* right: 10%; */
  bottom: 0%;
  left: 80%;
  width: max-content;
  background: linear-gradient(
    249deg,
    #ae00ffa9,
    #ff00b3d6,
    #bf00ffe0,
    #ff00b3d6
  );
  background-size: 400% 400%;
  animation: animateBackground 5s ease infinite;
  color: #ffffff;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  /* border: 2px solid black; */
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.link__sobremi:hover {
  /* transform: translateX(-2px) translateY(-2px);
    box-shadow: 4px 4px 0px 0.5px rgb(0, 0, 0); */
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
  transform: translateX(-5px) translateY(-5px);
  cursor: pointer;
}

/* .elemento__1:hover .link__sobremi:hover {
    background: rgb(0, 0, 0);
    color: #ffffff;
    scale: 1.1;
  } */
/* font-weight: 500; */

@keyframes aba-arr {
  from {
    transform: translateY(100px);
    opacity: 0; /* Ocultar inicialmente */
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* .link__sobremi::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 110%;
    top: -1.5px;
    left: 2px;
    background: rgba(255, 255, 255, 0.779);
    border-radius: 0px;
    z-index: -1;
  
    opacity: 0;
  } */

/* transform: translateX(-5px) translateY(-5px); */
/* box-shadow: 4px 4px 0px 0px rgb(255, 255, 255); */

/* .elemento__1:hover .link__sobremi::after {
    animation: pulse 0.5s ease-in-out;
    animation-iteration-count: 2;
    animation-delay: 0.2s;
  } */

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    scale: 1.2;
    opacity: 50%;
  }
}

.elemento__1:hover {
  opacity: 1;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.5);
  transform: translateX(-5px) translateY(-5px);
  /* background-color: #000000; */
  /* border: 0.5px solid rgba(22, 100, 172, 0.548); */
  /* .animated-image {
      opacity: 1; */
  /* scale: 1.5; */
  /* left: 30%; */
  /* animation: aba-arr 0.3s linear; */
  /* } */
  /* .card__1__title__1 {
      opacity: 1;
    } */
}

/* Popup Styles */
.popup__sobremi__container {
  display: none;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.825);
  /* z-index: 2; */
  /* transition: transform 0.5s ease-in-out; */
  /* background-color: #fff; */
}

.popup__sobremi__container a {
  text-decoration: none;
}

.popup__sobremi {
  /* background-image: url(./img/joystick-gaming-controller-isolated-on-blue-background-video-game-console-developed-interactive-entertainment-free-photo.jpg); */
  background-color: #ffffff;
  /* background-color: #2be4dc;
    background: radial-gradient(circle, #2be4dc 0%, #243484 95%); */
  margin: 6.5% auto;
  padding: 30px;
  width: 50%;
  height: 72%;
  overflow: hidden;
  border-radius: 0px;
  transform: scale(0);
  /* descomentar arriba scale para el popup */
  transform-origin: left top;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Añadido para controlar el z-index */
  /* z-index: 2; */
  /* Añadido para controlar el z-index */
  border: 2px solid rgba(22, 100, 172, 0.548);
  background-size: cover;
}

.gif__mario {
  position: absolute;
  top: 0px;
  height: 80px;
  /* z-index: -1; */
  animation: izq-der-mario 6s forwards;
  animation-fill-mode: forwards; /* Mantiene la posición al final de la animación */
}

@keyframes izq-der-mario {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(500px);
  }
}

.gif__mario__ok {
  display: flex;
  position: absolute;
  bottom: -70px;
  right: 20px;
  height: 180px;
  /*animacion controlada desde popup_sobremi.js*/
  /* animation: aba-arr 0.1s forwards 3.8s; */
  animation-fill-mode: forwards; /* Mantiene la posición al final de la animación */
  opacity: 0;
}

/* @keyframes aba-arr-ok {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0px);
    }
  } */

.primer__parrafo__sobremi {
  display: flex;
  flex-direction: column;
  /* background-color: #b87070; */
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.primer__parrafo__sobremi h2 {
  color: #2c2c2c;
  font-size: 30px;
  /* transform: translateX(-500px);  */
  /* Posición inicial fuera de la pantalla */
  opacity: 0;
  /* Ocultar inicialmente */
  cursor: context-menu;
}

.primer__parrafo__sobremi p {
  padding: 10px;
  color: #2c2c2c;
  /* width: 60ch; */
  height: 90px;
  cursor: context-menu;
  /* background-color: #c96565; */
  /* white-space: nowrap;
    overflow: hidden; */
  /* border-right: 0.5px solid; */
  /* animation: typing 3s steps(60), blink 0.5s step-end infinite alternate; */
}

/* @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  } */

.popup__sobremi.animate-open {
  transform: scale(1);
}

.popup__sobremi.animate-close {
  transform: scale(0);
}

.lista__stack {
  display: flex;
  flex-direction: row;
  /* background-color: #837777; */
  justify-content: center;
  text-align: center;
  gap: 3em;
  margin: 1em auto;
  /* background-color: #a98e8e; */
  width: 100%;
}

.lista__stack .--container h3 {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .lista__stack img { */
/* height: 50px; */
/* margin: 0px;
    padding: 0px; */
/* background-color: #b53e3e; */
/* width: 60%; */
/* } */

.figma__container img {
  height: 40px;
  animation: izq-der2 6s;
  animation-fill-mode: forwards;
}

.figma__container {
  animation: izq-der 2s ease-in-out;
}

.javascript__container img {
  height: 40px;
  animation: izq-der2 6s;
  animation-fill-mode: forwards;
}

.javascript__container {
  animation: izq-der 1.5s ease-in-out;
}

.react__container img {
  height: 40px;
  animation: der-izq2 6s;
  animation-fill-mode: forwards;
}

.react__container {
  animation: der-izq 1.5s ease-in-out;
}

.node__container img {
  height: 40px;
  animation: der-izq2 6s;
  animation-fill-mode: forwards;
}

.node__container {
  animation: der-izq 2s ease-in-out;
}

.lista__stack span {
  /* background-color: #c90101; */
  color: rgb(91, 91, 91);
  font-size: 14px;
  font-weight: 400;
}

@keyframes izq-der2 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(720deg);
  }
}

@keyframes der-izq2 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(-720deg);
  }
}

/* .figma__container {
    display: flex;
    flex-direction: column;
  } */

/* .p__1 {
    background-color: #c015ef;
    color: rgba(255, 255, 255, 0.859);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: context-menu;
    padding: 2px 10px 4px 10px;
    animation: izq-der 2s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
  }
  .p__2 {
    background-color: #f15800;
    color: rgba(255, 255, 255, 0.859);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: context-menu;
    padding: 2px 10px 4px 10px;
    animation: izq-der 1.5s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
  }
  .p__3 {
    background-color: #0091ff;
    color: rgba(255, 255, 255, 0.859);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: context-menu;
    padding: 2px 10px 4px 10px;
    animation: der-izq 1.5s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
  }
  .p__4 {
    background-color: #e0c200;
    color: rgba(14, 14, 14, 0.859);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: context-menu;
    padding: 2px 10px 4px 10px;
    animation: der-izq 2s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
  } */

.link__sobremi__links {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  flex-direction: row;
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 2em;
  width: 90%;
  justify-content: center;
  margin-top: 3em;
  margin-left: 2em;
  align-items: center;
  text-align: center;
  justify-items: center;
  align-content: center;

  /* background-color: #937070; */
}

.certificados__izq {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 0px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.189);
  border: 0.5px solid rgba(90, 90, 90, 0.264);
  animation: izq-der 2s;
}

.certificados__izq h3 {
  font-size: 16px;
  font-weight: 400;
  color: #2c2c2c;
}

.certificados__der {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 10px 5px;
  border-radius: 0px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.189);
  border: 0.5px solid rgba(90, 90, 90, 0.264);
  transition: 0.5s;
  animation: der-izq 2s;
}

.certificados__der:hover {
  background-color: #2c2c2c;
  h3 {
    color: white;
  }
}

.certificados__der h3 {
  font-size: 16px;
  font-weight: 400;
  color: #2c2c2c;
  text-decoration: none;
  /* background-color: #fff; */
}

.certificados__1 {
  margin-top: 1em;
  padding: 0;
  /* background-color: #257c8b; */
}

.certificados__1 .imagen__certificados {
  height: 100px;
  width: 120px;
  margin-left: 10px;
  object-fit: contain;
  transition: 0.3s;

  /* background-color: #d21212; */
}

.certificados__1 .imagen__certificados:hover {
  scale: 1.2;
}

.imagen__capturacv {
  /* background-color: #ad5858; */
  width: 120px;
  height: 100px;
  object-fit: contain;
  transition: 0.5s;
}

/* .certificados__der:hover {
    scale: 1.1;
  } */

.close {
  position: absolute;
  color: #1a1a1a;
  top: 0.5em;
  right: 1em;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  animation: arr-aba 3s ease-in;
  transition: 0.3s;
  /* animation-delay: 3s; */
  /* opacity: 0; */
}

.close:hover,
.close:focus {
  color: rgb(231, 41, 41);
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

.card__1 {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 300ms;
  transform-style: preserve-3d;
}

.front,
.back__1 {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* border-radius: 10px; */
}

.animated-image__container {
  background: linear-gradient(to right, #000000, #00000000);
  opacity: 1;
}

/* .animated-image-degrade {
    background: #fff;
    z-index: 1;
  } */

/* Animación para la imagen */
.animated-image {
  animation: moveDiagonal 2s ease-in-out;
  animation-fill-mode: forwards;
  /* opacity: 0.6; */
  transition: 0.3s;
  scale: 1;
  position: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  /* top: -12%; */
  /* background-color: #000000; */
  opacity: 0.4;
  object-fit: cover;
  /* animation: arr-aba 1s ease-in; */
}

/* Definición de la animación */
@keyframes moveDiagonal {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(6.5);
  }
  /* 30% {
      transform: translateX(-80px) translateY(20px) rotate(-50deg) scale(2);
    } */
  /* 35% {
      transform: translateX(-50px) translateY(-700px) rotate(65deg) scale(2.8);
    } */
  80% {
    transform: translateX(50px) translateY(20px) rotate(360deg) scale(2);
  }
  /* 99% {
      transform: translateX(0px) translateY(0px) rotate(0deg) scale(1.2);
    } */
}

.image-title {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 100%;
  /* color: white; */
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  /* background-color: #e90303; */
}

@keyframes izq-der {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes der-izq {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes arr-aba {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nombre__container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 0px;
}

.desarrollador__container {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.diseñador__container {
  display: flex;
  flex-direction: row;
}

.card__1__title__1 {
  width: max-content;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  /* opacity: 0.7; */
  transition: 0.5s;
  cursor: context-menu;
  color: rgb(0, 0, 0);
  /* background: linear-gradient(to left, #9000ff, #ff0888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  animation: arr-aba 1s ease-out;
  /* text-shadow: 0px 0px 10px 10px black; */
}

.card__1__title__1a {
  width: max-content;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  /* opacity: 0.7; */
  transition: 0.5s;
  cursor: context-menu;
  color: rgb(134, 0, 230);
  /* background: linear-gradient(to right, #fd76ff, #08b1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  animation: arr-aba 1s ease-out;
  /* text-shadow: 0px 0px 10px 10px black; */
}

.card__1__title__2 {
  /* width: max-content; */
  padding: 10px 0px 0px 5px;
  font-size: 34px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: rgb(161, 0, 220); */
  /* font-style: normal; */
  background: rgb(0, 0, 0);
  /* color: #0091ff; */
  /* background: linear-gradient(to right, #ffffff, #ffffff); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
  animation: izq-der 2s ease-out;
}

.card__1__title__2a {
  /* width: max-content; */
  padding: 10px 0px 0px 5px;
  font-size: 34px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(0, 0, 0);
  /* font-style: normal; */
  /* background: #000000; */
  /* color: #0091ff; */
  background: linear-gradient(to right, #a176ff, #d701db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
  animation: izq-der 2s ease-out;
}

.card__1__title__3 {
  /* width: max-content; */
  padding: 0px 0px 0px 5px;
  font-size: 34px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(197, 197, 197);
  /* font-style: normal; */
  background: rgb(0, 0, 0);
  /* color: #0091ff; */
  /* background: linear-gradient(to right, #ffffff, #ffffff); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
  animation: izq-der 2s ease-out;
}

.card__1__title__3a {
  /* width: max-content; */
  padding: 0px 0px 0px 5px;
  font-size: 34px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(0, 0, 0);
  /* font-style: normal; */
  /* background: #000000; */
  /* color: #0091ff; */
  background: linear-gradient(to right, #a176ff, #d701db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
  animation: izq-der 2s ease-out;
}

/*CARD 2*/

.elemento__2 {
  grid-row: 2/4;
  grid-column: 1/2;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  /* perspective: 800px; */
  /* border-radius: 0px; */
  transition: 0.3s;
  position: relative;
  /* border: 0.5px solid black; */
  animation: aba-arr 1s ease-in-out;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179); */
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179);
  opacity: 0.9;

  cursor: pointer;
}

.elemento__2:hover {
  /* box-shadow: 10px 10px 20px 0px rgb(17, 15, 18); */
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.5);

  transform: translateX(-5px) translateY(-5px);
  /* background-color: white; */
  opacity: 1;
  .imagen__proyectos {
    /* scale: 0.9; */
    opacity: 1;
  }
}

/* .card__2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  } */

/* .front-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #255fe842;
  } */

.front2__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image-title-2 {
  width: 80%;
  /* height: 50%; */
  /* background-color: #af2a2a; */
  text-align: left;
  padding: 20px 20px 20px 20px;
  /* margin: 0 auto; */
}

.image-title-2 h3 {
  /* background-color: #fff; */
  /* border: 1px solid black; */
  color: #000000;
  /* cursor: context-menu; */
  animation: izq-der 2s ease-out;
  font-size: 20px;
  font-weight: 400;
}

/* .link__proyectos {
    position: absolute;
    max-width: fit-content;
    background-color: #1e8fff2c;
    color: #ffffff85;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 14px;
    z-index: 1;
    transition: 0.3s, background-color 0.5s ease, color 0.5s ease;
    animation: aba-arr 3s ease-in-out;
  } */
/* bottom: 165px;  */
/* Ajusta según sea necesario */
/* left: 25px; */
/* Ajusta según sea necesario */

.elemento__2:hover .link__proyectos:hover {
  background: white;
  color: #000000;
  scale: 1.1;
  /* font-weight: 500; */
}

.link__proyectos::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 110%;
  top: -1.5px;
  left: 2px;
  background: rgba(255, 255, 255, 0.779);
  border-radius: 0px;
  z-index: -1;

  opacity: 0;
}

.elemento__2:hover .link__proyectos {
  background-color: #0a76e3cb;
  color: #ffffffe9;
  cursor: pointer;
}

.elemento__2:hover .link__proyectos::after {
  animation: pulse 0.5s ease-in-out;
  animation-iteration-count: 2;
  animation-delay: 0.2s;
}

.img__container-proyectos {
  display: flex;
  background-color: #ffffff;
  height: 70%;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  /* border: 0.5px solid black; */
}

.imagen__proyectos {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  right: 20px;
  opacity: 0.9;
  transition: 0.3s;
  /* bottom: 20px; */
  /* padding: 10px; */
  /* margin: auto;
    margin-top: 20px; */
}

/* Animación para la imagen */
/* .animated-image-2 { */
/* scale: 4; */
/* animation: moveDiagonal2 2s; */
/* opacity: 0.9; */
/* transition: 0.3s; */
/* position: relative; */
/* width: 80%;
    height: 100%; */
/* object-fit: cover; */
/* top: 0%; */
/* background: #000000; */
/* } */

/* Definición de la animación */
/* @keyframes moveDiagonal2 {
    0% {
      transform: translateX(-180px) translateY(10px) rotate(0deg) scale(1.6);
    }
    50% {
      transform: translateX(80px) translateY(50px) rotate(0deg) scale(1.8);
    }
    100% {
      transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    }
  } */

/* .card__2__title__1 {
    width: max-content;
    font-size: 32px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 5px;
    opacity: 0.7;
    transition: 0.5s;
    cursor: context-menu;
    animation: arr-aba 1s ease-out;
  } */
/* background: linear-gradient(to right, #4917ad, #a200ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

.popup__proyectos__container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.825);
  /* transition: transform 0.5s ease-in-out; */
  /* background-color: #fff; */
}

.popup__proyectos__container a {
  text-decoration: none;
}

.popup__proyectos {
  /* background-image: url(./img/joystick-gaming-controller-isolated-on-blue-background-video-game-console-developed-interactive-entertainment-free-photo.jpg); */
  background-color: #ffffff;
  margin: 6.5% auto;
  padding: 30px;
  width: 66%;
  height: 72%;
  overflow: hidden;
  border-radius: 0px;
  transform: scale(0);
  /* descomentar arriba scale para el popup */
  transform-origin: left bottom;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Añadido para controlar el z-index */
  /* z-index: 2;  */
  /* Añadido para controlar el z-index */
  border: 2px solid rgba(22, 100, 172, 0.548);
  background-size: cover;
  align-items: center;
  justify-content: space-between;
}

.popup__proyectos.animate-open {
  transform: scale(1);
}

.popup__proyectos.animate-close {
  transform: scale(0);
}

.close__proyectos {
  position: absolute;
  color: #1a1a1a;
  top: 0.5em;
  right: 1em;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  animation: arr-aba 3s ease-in;
  transition: 0.3s;
  z-index: 1;

  /* animation-delay: 3s; */
  /* opacity: 0; */
}

.close__proyectos:hover,
.close__proyectos:focus {
  color: rgb(231, 41, 41);
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

#content__items__carrousel {
  /* border: 5px solid red; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item__carrousel {
  /* border: 5px solid black; */
  height: 100%;
  position: relative;
}

.tarjeta__carrousel {
  /* background-color: #83e9e9; */
  height: 100%;
}

/* .flechas__carrousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
  } */

/* .flechas__carrousel i {
    font-size: 35px;
  }
  
  .flechas__carrousel i:hover {
    color: red;
  } */

.descripcion__proyectos {
  /* background-color: #363636; */
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 70%;
}

.lista__stack__proyecto1 {
  display: flex;
  flex-direction: row;
  /* background-color: #837777; */
  justify-content: center;
  text-align: center;
  gap: 1em;
  margin-top: 1.2em;
}

.p__1__proyecto1 {
  background-color: #c015ef;
  color: rgba(255, 255, 255, 0.859);
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: context-menu;
  padding: 2px 10px 4px 10px;
  animation: izq-der 2s ease-in-out;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
}
.p__2__proyecto1 {
  background-color: #f15800;
  color: rgba(255, 255, 255, 0.859);
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: context-menu;
  padding: 2px 10px 4px 10px;
  animation: izq-der 1.5s ease-in-out;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
}
.p__3__proyecto1 {
  background-color: #0091ff;
  color: rgba(255, 255, 255, 0.859);
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: context-menu;
  padding: 2px 10px 4px 10px;
  animation: der-izq 1.5s ease-in-out;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
}
.p__4__proyecto1 {
  background-color: #e0c200;
  color: rgba(14, 14, 14, 0.859);
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: context-menu;
  padding: 2px 10px 4px 10px;
  animation: der-izq 2s ease-in-out;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.288);
}

.imagenes__proyecto1 {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 100%;
  height: 100%;
  /* background-color: #8d7b7b; */
  gap: 1em;
  justify-content: center;
}

.imagenes__proyecto1 img {
  height: 250px;
  width: 250px;
}

/*CARD 3 REPRODUCTOR DE MUSICA*/

.elemento__3 {
  height: 180px;
  grid-column: 2/3;
  grid-row: 2/3;
  background: linear-gradient(249deg, #cd0404, #790084dd, #0dafa7e9);
  background-size: 200% 200%;
  animation: animateBackground 30s ease infinite;
  opacity: 0.4;
  transition: 0.3s;
  scale: 0.99;
  /* z-index: 1; */
}

.elemento__3:hover {
  opacity: 1;
  scale: 1;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 67%;
  }
  50% {
    background-position: 100% 34%;
  }
  100% {
    background-position: 0% 67%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 92%;
  /* background: #ff0000; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  /* gap: 1em; */
}

.container .img-container {
  /* background-color: #ed0000; */
  position: relative;
  height: 100%;
  width: 70%;
  border-radius: 5px;
}

.container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

  /* border: 1px solid blue; */
  /* box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3); */
}

.datos-cancion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #d72b2b; */
  margin-left: 10px;
  padding: 0;
}

.container h2 {
  position: relative;
  margin: 0;
  top: -15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.867);
  cursor: context-menu;
  /* padding-left: 10px; */
  /* background-color: #841919; */
}

.container h3 {
  /* padding-left: 10px; */
  color: rgba(255, 255, 255, 0.867);
  font-size: 13px;
  font-weight: 400;
  position: relative;
  margin: 0;
  top: -10px;
  text-align: center;
  cursor: context-menu;
  /* background-color: #5a4545; */
}

.container .progressBar {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  width: 90%;
  height: 5px;
  /* align-items: center;
    justify-content: center; */
}

.container .progressBar .progress {
  background: #282828e7;
  border-radius: 5px;
  width: 0%;
  height: 110%;
  transition: width 0.1s linear;
}

.container .progressBar .duracion {
  font-size: 12px;
  position: relative;
  font-weight: 200;
  /* top: -25px; */
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.867);
  /* background-color: #fff; */
}

.container .controles {
  position: relative;
  top: 15px;
  /* left: -10px; */
  width: 100%;

  /* background-color: #d74747; */
}

.container .controles .fa-solid {
  font-size: 25px;
  cursor: pointer;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.867);
  /* background: #0091ff; */
  user-select: none;
  transition: 0.3s;
}

.container .controles .fa-solid:hover {
  color: #141414e9;
}

.volume-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

#volume-icon {
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  color: rgba(33, 33, 33, 0.867);
}

#volume-slider {
  width: 40%;
  cursor: pointer;
}

/*CARD 4*/

.elemento__4 {
  grid-row: 1/3;
  grid-column: 3/4;
  perspective: 800px;
  /* border-radius: 3px; */
  /* opacity: 0.8; */
  /* cursor: pointer; */
  /* position: relative; */
  /* overflow: hidden; */
  transition: 0.3s;
  animation: arr-aba 1s ease-in-out;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179); */
}

.elemento__4:hover {
  /* opacity: 1; */
  /* background-color: #000000; */
  /* .front-4 {
      border: 2.5px solid rgba(22, 100, 172, 0.548);
    } */

  .animated-image-4 {
    opacity: 1;
    /* scale: 1.1; */
  }
  .img_pc {
    opacity: 1;
    /* scale: 1.1; */
  }
}

.img_pc {
  position: relative;
  width: 100%;
  object-fit: cover;
  /* bottom: 10%; */
  opacity: 0.9;
  transition: 0.3s;
}

video {
  position: relative;
  width: 40%;
  bottom: 80%;
  left: 30%;
  scale: 1;
  /* object-fit: fill; */
  /* scale: 0.8; */
  /* max-width: 100%; */
  /* height: auto; */
  /* object-fit: contain; */
  /* opacity: 0.4; */
  transition: 0.3s;
  /* bottom: 85%;
    right: 20%; */
}

/* video:hover {
    opacity: 1;
  } */

/* .animated-image-4 {
    opacity: 0.5;
    transition: 0.3s;
  } */
/* scale: 0.8; */

.card__4 {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 300ms;
  transform-style: preserve-3d;
  border-radius: 3px;
  transition: 0.3s;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179);
}

.card__4:hover {
  /* box-shadow: 10px 10px 0px 0px rgb(17, 15, 18); */
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.5);
}

.card__4.is-flipped {
  transform: rotateY(180deg);
  /* transition-delay: 0.3s; */

  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179);
}

.is-flipped:hover {
  box-shadow: -20px 20px 30px 0px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg) translateX(5px) translateY(-5px);
}

.image-title-4 {
  position: absolute;
  top: 94%;
  left: 15px;
  width: 100%;
  /* color: white; */
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  /* background-color: #e90303; */
}

/* .card__4__title__1 {
    font-size: 20px;
    width: 90%;
    padding: 0px 0px 5px 5px;
    font-weight: 400;
    background: linear-gradient(to right, #dcdcdc, #777777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: context-menu;
    animation: der-izq 2s ease-out;
  } */

.contacto-title {
  background-color: #fff;
  position: relative;
  top: 50px;
}

.front-4 {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  /* border: 2.5px solid rgba(0, 0, 0, 0); */
  /* box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.5); */
  /* cursor: pointer; */
  transition: 0.3s;
}

/* .front-4:hover {
    box-shadow: 10px 10px 0px 0px rgb(17, 15, 18);
    transform: translateX(-5px) translateY(-5px);
  } */

.link__contacto {
  position: absolute;
  /* Posiciona el elemento absolutamente dentro de su contenedor relativo */
  max-width: fit-content;
  bottom: 288px; /* Ajusta según sea necesario */
  left: 20px; /* Ajusta según sea necesario */
  background-color: #1e8fff2c; /* Color celeste */
  color: #ffffff85;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 14px;
  z-index: 1;
  transition: 0.3s, background-color 0.5s ease, color 0.5s ease;
  animation: aba-arr 3s ease-in-out;
}

.elemento__4:hover .link__contacto:hover {
  background: white;
  color: #000000;
  scale: 1.1;
  /* font-weight: 500; */
}

.link__contacto::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 110%;
  top: -1.5px;
  left: 2px;
  background: rgba(255, 255, 255, 0.779);
  border-radius: 0px;
  z-index: -1;
  opacity: 0;
}

.elemento__4:hover .link__contacto {
  background-color: #0a76e3cb;
  color: #ffffffe9;
  cursor: pointer;
}

.elemento__4:hover .link__contacto::after {
  animation: pulse 0.5s ease-in-out;
  animation-iteration-count: 2;
  animation-delay: 0.2s;
}

.card__4__title__2 {
  position: relative;
  top: -330px;
  font-size: 20px;
  width: 90%;
  padding: 0;
  font-weight: 400;
  background: linear-gradient(to right, #dcdcdc, #777777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
  animation: izq-der 2s ease-out;
}

.back__4 {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  backface-visibility: hidden;
  /* background-color: #000000; */
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5rem; */
  /* overflow: hidden; */
  z-index: 1;
  border-top: 10px solid rgb(191, 0, 255);
  transition: 0.3s;
  /* border-right: 10px solid rgb(191, 0, 255); */
}

/* .back__4:hover {
    background-color: #000000;
    box-shadow: 10px 10px 0px 0px rgb(17, 15, 18);
    transform: rotateY(-180deg) translateX(-5px) translateY(-5px);
  } */
/* transform: translateX(-5px) translateY(-5px); */

/* background: linear-gradient(249deg, #ae00ffa9, #ff00b3d6, #bf00ffe0, #ff00b3d6);
  background-size: 600% 600%;
  animation: animateBackground 5s ease infinite; */

/* .close__contacto-4 {
    position: absolute;
    color: #1a1a1a;
    top: 0.5em;
    right: 1em;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
  } */

.close-4 {
  position: absolute;
  color: #1a1a1a;
  top: 0.2em;
  right: 0.6em;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  /* animation: arr-aba 3s ease-in; */
  transition: 0.3s;
  /* animation-delay: 3s; */
  /* opacity: 0; */
  z-index: 1;
}

.close-4:hover,
.close-4:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

/* Formulario de contacto */

.form {
  /* background: radial-gradient(circle, #2be4dc 0%, #243484 95%); */
  /* background: linear-gradient(249deg, #ffffff, #f59eff, #000000, #f59eff);
    background-size: 600% 600%;
    animation: animateBackground 5s ease infinite;
    opacity: 0.4;
    transition: 0.5s; */
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  margin: auto;
  border-radius: 3px;
}

.form__container {
  position: relative;
  /* top: -10px; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  /* gap: 1em; */
  padding: 1em;
  grid-auto-columns: 100%;
  /* background-color: rgb(193, 193, 193); */
  /* border: 1px solid #2c2c2c; */
  /* border-radius: 10px; */
}

.form__title {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  justify-content: left;
  margin-bottom: 10px;
}

/* .form__subtitle {
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    justify-content: left;
  } */

.form__input {
  font-family: inherit;
  padding: 0.5em 1em;
  border-radius: 5px;
  /* border: none; */
  background: #ffffff;
  border: 0.5px solid rgb(182, 182, 182);
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.823);
  font-size: 14px;
}

.form--nombre {
  /* background: #ffffff; */
  height: 2.5em;
  /* color: #000000; */
}

.form--correo {
  /* background: #828282; */
  height: 2.5em;
}

.form__input--message {
  /* background: #828282; */
  height: 10em;
  resize: none;
}

.form__cta {
  position: relative;
  margin: auto;
  /* right: 10%; */
  bottom: -10%;
  width: 30%;
  background: linear-gradient(
    249deg,
    #ae00ffa9,
    #ff00b3d6,
    #bf00ffe0,
    #ff00b3d6
  );
  background-size: 600% 600%;
  animation: animateBackground 5s ease infinite;
  color: #ffffff;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  /* border: 2px solid black; */
  cursor: pointer;
  transition: 0.5s;
  border: none;
  /* opacity: 0.4; */
  /* border: 1px solid rgb(182, 182, 182); */
  /* transform-style: preserve-3d; */
  /* perspective: 800; */
  /* scale: 0.8; */
}

.form__cta:hover {
  /* opacity: 1; */
  /* scale: 1; */
  /* border: none; */
  /* background-color: #ffffff; */
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 4px 4px 0px 0.5px rgb(0, 0, 0);
  /* border: 1px solid rgb(182, 182, 182); */
  /* border: 0.5px solid rgb(0, 0, 0); */
  /* border-radius: 0px; */
  /* color: #000000; */

  /* color: black; */
}

.confirmation-message {
  display: none;
  /* Ocultar por defecto */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid #4caf50; */
  /* background-color: #f4f4f4; */
  /* color: #000000; */
  /* border-radius: 5px; */
  text-align: center;
  font-size: 18px;
  /* z-index: 40; */
}

.fa-circle-check {
  margin-top: 20%;
  font-size: 52px;
  color: rgb(3, 192, 3);
}

.confirmation-message h2 {
  margin-top: 5%;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
}

.confirmation-message p {
  font-size: 16px;
  padding: 14px;
  color: #3b3b3b;
  font-weight: 400;
}

.confirmation-message.error {
  border-color: #f44336;
  background-color: #f8e9fe;
  color: #d32f2f;
}

/*CARD 5*/

.elemento__5 {
  height: 180px;
  grid-column: 2/4;
  grid-row: 3/4;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.179);
}

.grilla__container {
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff3b; */
  /* background-image: url("./img/black-texture-with-purple-neon-lines-black-abstract-background-purple-neon-lines-3d-black-background-3d-polygons-texture.jpg"); */
  background: linear-gradient(249deg, #0022ff10, #ff000010, #e100ff12);
  background-size: 600% 600%;
  animation: animateBackground2 100s ease infinite;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 95%;
  height: 80%;
  /* background-color: #fff; */
}

.elem__izq {
  grid-column: 1/2;
  /* background-color: #4ac06c; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.elem__izq {
  color: rgb(130, 130, 130);
}

.redes__sociales {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #7e7b7b; */
  padding-top: 1.5em;
}

.redes__sociales:hover {
  p {
    opacity: 1;
  }
}

.redes__sociales p {
  font-size: 18px;
  /* background-color: #fff; */
  width: max-content;
  /* justify-content: left;
    text-align: left; */
  padding-left: 2.3em;
  padding-bottom: 0.5em;
  color: rgb(218, 218, 218);
  opacity: 0.6;
  transition: 0.3s;
  cursor: context-menu;
}

.elem__der {
  grid-column: 2/2;
  /* background-color: #0c8dad; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 1.5em;
  /* display: flex;
    flex-direction: row; */
}

.derechos {
  width: 95%;
  border-top: 1px solid rgb(130, 130, 130);
  padding: 10px;
}

.derechos p {
  font-size: 16px;
  color: rgb(130, 130, 130);
}

.fa-brands {
  font-size: 32px;
  transition: 0.2s;
  cursor: pointer;
  color: rgb(99, 99, 99);
}

.fa-brands:hover {
  cursor: pointer;
  color: #ffffff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #55555500;
  color: #b3b3b3;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%; /* Posiciona el tooltip encima del icono */
  left: 103%;
  margin-left: -60px;
  /* Usa margen negativo para centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 240%; /* Parte inferior del tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00000000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font-size: 14px;
}
